@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;600&family=Playfair+Display&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: #222;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}
.wrapper {
    width: 1280px;
    margin: 50px auto;
}
header  {
    position: relative;
}
header .logo{
    font-weight: 600;
    font-size: 20px;
}
header ul.nav {
    float: right;
    text-align: right;
    list-style: none;
    transition: opacity 500ms ease;
}
header  ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
}
header  ul.nav li:hover {
    opacity: .5;
}
 header .shop-card-button {
     float: right;
     font-size: 20px;
     transition: color, transform 500ms ease;
}
header .shop-card-button:hover,
header .shop-card-button.active{
    color: red;
    cursor: pointer;
    transform: scale(1.5);
}
header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: white;
    -webkit-box-shadow: 0 3px 10px -3px #000000;
    box-shadow: 0 3px 10px -3px #000000;
    z-index: 1000;
    padding: 20px 20px 0 20px;

}
header .shop-cart .item .delete-icon {
    font-size: 20px;
    float: right;
    position: relative;
    top: -10px;
    transition: color, transform 500ms ease;
    cursor: pointer;
}
header .shop-cart .item .delete-icon:hover {
    color: #ca5252;
    transform: scale(1.5);
}
header .shop-cart .empty h2{
    font-size: 20px;
    padding-bottom: 20px;
}
header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
header  .shop-cart .item  img {
    width: 70px;
    float: left;
    margin-right: 20px;
}
header  .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
header  .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}
header .shop-cart .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
header .presentation {
    margin: 50px 0;
    background: url('./img/image1.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: lightgray;
    position: relative;
}
header .presentation:after {
    content: 'Лучшие товары для вашего дома';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
color: white;

}
header .presentation:before {
    content: 'По низким ценам';
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.categories div {
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
}
main    {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .item {
    width: 30%;
    height: 30%;
    margin-bottom: 50px;
    background: lightgray;
    overflow: hidden;
    position: relative;
}
main .item img {
width: 100%;
border-radius: 10px 10px;
    transition: transform 500ms ease ;
}
main .item img:hover {
    transform: scale(1.05);
}
h2 {
    color: #222222;
}
main, p, main, b {
    color: green;
}
.add-to-card {
position: absolute;
right: 20px;
    bottom: 18px;
    background-color: #ca5252;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: white;
border-radius: 50%;
cursor:pointer;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    transition: 0.5S ease;
}
.add-to-card:hover {
    transform: scale(1.5) translateY(-5px);
}
footer {
    text-align: center;
    margin-top: 100px;
}
